<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="login.css">
</head>

<body>
  <background img="image.png"
 <div class="login-box">
   <h1>fedd.ing login</h1>
   <form>
     <label>username</label>
     <input type="text" placeholder="">
     <label>Password</label>
     <input type="password" placeholder="">
     <input type="button" value="Submit">
   </form>
   <footer>
     <p>selling domain emails, biolinks will be free upon creation.</p>
     <p>btc address: bc1q8qpkjqsmsykv0wlp6yfqftdktshvdf4kymj75h</p>
   </footer> 
</body>
</html>
