/* home.css */

body {
    font-family: Arial, sans-serif;
    background-image: url("https://cdn.discordapp.com/attachments/1215750405871636502/1217938098881826816/39878993-32C6-468F-BD46-B667348F222E.gif?ex=6605d83e&is=65f3633e&hm=fbc45996110b3097c1b7ded20103d7c5f5dbd2328156be00295bd0c380503f15&");
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
header {
    padding: 10px 20px;
    text-align: center;
}
.ascii-container {
    display: flex;
    justify-content: center;
}
.ascii-art {
    color: white;
}
.vietnam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vietnam {
  text-align: center;
  margin-top: 20px;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.vietnam:hover {
  width: 120px;
  height: 120px;
}
.vietnam img {
  display: block;
  width: 100%;
  height: auto;
}
.vietnam-text {
  color: #ffffff;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
.gores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gores {
  text-align: center;
  margin-top: 20px;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.gores:hover {
  width: 120px;
  height: 120px;
}
.gores img {
  display: block;
  width: 100%;
  height: auto;
}
.gores-text {
  color: #ffffff;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
.auora-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auora {
  text-align: center;
  margin-top: 20px;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.auora:hover {
  width: 120px;
  height: 120px;
}
.auora img {
  display: block;
  width: 100%;
  height: auto;
}
.auora-text {
  color: #ffffff;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
.bloodshed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bloodshed {
  text-align: center;
  margin-top: 20px;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.bloodshed:hover {
  width: 120px;
  height: 120px;
}
.bloodshed img {
  display: block;
  width: 100%;
  height: auto;
}
.bloodshed-text {
  color: #ffffff;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
