html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  /* Set background color to black */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  text-align: center;
  background-color: #fff;
  /* Set container background color to white */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  filter: grayscale(100%);
  /* Convert to black and white */
}

label {
  display: block;
  margin-bottom: 10px;
  color: #000;
  /* Set label text color to black */
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/*-- home.html --*/
body.home {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.discordapp.com/attachments/1202302524888207441/1203001149397934090/zlLfpLY.png?ex=65cf8120&is=65bd0c20&hm=723cc0dec9d49dba16ec93859724d3f571139fa68a373277c32d708f4ccf9bbb&');
  background-size: cover;
  background-position: center center;
}

header {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 20px;
  z-index: 1;
}

header h2 {
  margin: 0;
  color: #fff;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
}

.profile {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 100vh;
}

.profile img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile p {
  color: #fff;
  margin-top: 5px;
}

.profile:nth-child(odd),
.profile:nth-child(even) {
  transform: scale(1);
}

.profile:hover {
  transform: scale(1.3);
}

.profile h3 {
  margin: 0;
  color: #460000;
}

.profile h4 {
  margin: 0;
  color: #201e54;
}

discord-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  background-color: #000000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.join-server {
  background-color: #4c2262;
  color: #fff;
  border: none;
  border-color: #fff;
  cursor: pointer;
  padding: 5px; 
  border-radius: 5px; 
}

.join-server:hover {
  background-color: #4c2288;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 10px;
}
