/* vietnam css */ 

body {
  font-family: Arial, sans-serif;
  background-image: url("https://cdn.discordapp.com/attachments/1215750405871636502/1217930756580577472/2DF9D01A-6F53-4470-B11E-27FA4BBD2B26.gif?ex=6605d168&is=65f35c68&hm=cb5386b9e0a4f62676c2f1ae84401456b6c928a864834022146cac8eae3a44dd&");
  background-size: cover;
  margin: 0;
  padding: 0;
}

header {
  padding: 10px 20px;
  text-align: center;
}

.ascii-text {
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vietnam {
  text-align: center;
  margin-top: 20px;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  transition: width 0.3s, height 0.3s;
}

.vietnam:hover {
  width: 220px;
  height: 220px;
}

.vietnam img {
  display: block;
  width: 100%;
  height: auto;
}

.email {
  color: #ffffff;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.discord {
  color: #ffffff;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

.telegram {
  color: #ffffff;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}

footer {
  text-align: center;
  color: #ffffff;
}
